/* Your custom styles */
html,
body,
header,
#intro{
    height:100%;
}

#intro{
    background: url('../img/Chaisen2.jpg')no-repeat center center fixed ;
    background-size: cover;
}

extrapadding{
    padding-left:10px;
    padding-right:10px;
}